package {{user.javaPackage}};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

@SpringBootApplication
@ComponentScan({"{{user.javaPackage}}","com.creditcards"})
public class {{user.springMainClassName}} {

    public static void main(String[] args){
        SpringApplication.run({{user.springMainClassName}}.class, args);
    }
}